<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script language="JavaScript">
      setTimeout("history.go(0);", 5000);
    </script>
  </head>
  <body>
    <div>
      
      <img src="/imgs" width="600" height="300"/>


    </div>
    <div>
      
        <img src="/imgs2" width="600" height="300" />
    </div>
    <div>
      <a href='/test'> 합치기 </a>

    </div>
    <div>
      <h1>합친 결과 </h1>
        <img src="/imgs3" width="600" height="300" />
    </div>
  </body>
</html>
